{{ define "main" }}
  <div class ="flex row justify-center items-center">
    {{ partial "image" (dict "Src" .Params.image "Alt" .Title ) }}
  </div>

  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10">
        <h2 class="h3 mb-12">The line-up </h2>
        <!-- blog posts -->
        <div class="lg:col-14">
          <div class="row">
            {{ range $name, $items := .RegularPages }}
              <div class="md:col-4 mb-14">
                {{ partial "components/talk-card" . }}
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
